<footer class="footer bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row">

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold text-primary">EventHub</h5>
        <p>
          Votre plateforme de confiance pour découvrir, partager et participer
          aux meilleurs événements en Tunisie. De la tech à la culture, trouvez
          votre prochaine passion.
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 footer-links">
        <h5 class="text-uppercase mb-4 fw-bold">Liens Utiles</h5>
        <p><a routerLink="/">Accueil</a></p>
        <p><a routerLink="/events">Événements</a></p>
        <p><a href="#">Devenir Organisateur</a></p>
        <p><a href="#">Contact</a></p>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 fw-bold">Contact</h5>
        <p>📍 Cebalat, Ariana, Tunisie</p>
        <p>📧 contacteventhub.tn</p>
        <p>📞 +216 12 345 678</p>
      </div>

    </div>

    <hr class="my-4">

    <div class="text-center">
      <p>&copy; 2025 EventHub. Tous droits réservés.</p>
    </div>
  </div>
</footer>
